*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }  
  .background-block {
    background-color:#171B1B;
     height: 100vh; 
     position: relative;
     width:100%;
     overflow: hidden;
  }
  .logo{
    font-family: "Ultra", serif;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
    line-height:48px;
    color:#FFFFFF;
    margin-left:100px;
    margin-right:187px;
    text-decoration: none;
  }
  
  header {
    display: flex;
    align-items: center; 
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 60px; 
    justify-content: flex-start;
  }
  
  nav ul li:last-child {
    margin-right: 0;
    margin-left:400px;
  }
  nav ul li a{
    text-decoration: none;
    color:#FFFFFF;
  }
  nav ul li:last-child a {
    border: 2px solid gray;
    padding: 10px 20px; 
    transition: all 0.3s ease; 
  }
  
  nav ul li:last-child a:hover {
    background-color: #FFFFFF; 
    color: #171B1B; 
  }